<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
    <script src="/javascripts/chat.js"></script>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <header id="banner">
      <h1>DaChat</h1>
    </header>
    <section id="name" class="modal">
      <div class="backdrop">
        <div class="popup">
          <div class="pophead">
            <p>Please enter a name:</p>
            <p id="nameErr"
          </div>
          <form id="setnick" class="popbody">
            <input type='text' id='nickname' autofocus required/>
            <input type='submit' id='setname' value='Set Name'/>
          </form>
        </div>
       </div>
     </div>
   </section>
    <main id="chat">
      <section id="flexbox">
        <section id="chatroom">
          <div id="messages"></div>
        </section>
        <section id="users">
        </section>
      </section>
    </main>
    <section id="flexbox">
      <form id="chatBox">
        <input maxlength="1000" type='text' id='messaged' placeholder='Enter your message here!' required/>
        <input type="submit" id="mSend" value="SEND"/>
      </form>
    </section>
  </body>
</html>
