html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1vh 1vw;
  font: 1.8vh "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #d3d3d3;
}

a {
  color: #00B7FF;
}

#chat {
  display: none;
  padding-top: 1vh;
}

#flexbox {
  display: flex;
}

#messages {
  height: 83vh;
  width: 77vw;
}

#messages div {
  padding: 1em 1.6em;
  word-wrap: break-word;
}

#messages div:nth-child(even){
  background: #EFFFEC;
}

#messages div:nth-child(odd){
  background: #eee;
}

#flexbox > #chatroom {
  overflow-y: scroll;
  background-color: #C4D1C2;
  height: 83vh;
  width: 77vw;
}

#chatBox {
  display: none;
  padding-top: 1vh;
}

#messaged {
  width: 85vw;
  height: 3vh;
  font-size: 1.8vh;
}

#mSend {
  display: inline-block;
  height: 3vh;
  width: 12vw;
  color: #FFFFFF;
  cursor:pointer;
  background: #4192C1;
  background-image: linear-gradient(to bottom, #4192C1, #2980b9);
  border-radius: 28px;
  text-decoration: none;
  -webkit-appearance: none;
}

#mSend:hover {
  background: #3cb0fd;
  color: #FFFFFF;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#flexbox > #users {
  overflow: auto;
  height: 85vh;
  width: 20vw;
  padding-left: 1vw;
}

header{
  display: flex;
  background-color:#4192C1;
  justify-content: center;
}

header h1{
  color: #FFFFFF;
  margin: 0;
  padding: 1vw;
}

@media (max-width: 360px) {
  #mSend {
    width: 11vw;
    padding: 0;

  }
}

.modal{
  box-sizing: border-box;
  height: calc(100% - 102px);
  left: 0;
  position: absolute;
  top: 62px;
  width: 100%;
  z-index: 1000;
}

.backdrop{
width: 100%;
height:100%;
background-color: #777777 ;
}

.popup {
position: absolute;
height: 100px;
width: 300px;
left: calc(50% - 150px);
top: calc(50% - 50px);
background: #FFFFFF ;
}

.pophead {
background-color: #4192C1 ;
color: #FFFFFF ;
font-weight: bold;
padding: 8px 3px;
vertical-align: middle;
}

.popbody {
padding: 10px 5px;
}

.btn {
  background: #4192C1;
  background-image: linear-gradient(to bottom, #4192C1, #2980b9);
  border-radius: 28px;
  color: #4192C1;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
