body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



#chatroom {
 height: -moz-calc(100% - 80px);
 height: -webkit-calc(100% - 80px);
 height: calc(100% - 80px);
 background-color: #EFFFEC;
}

#messages {
 height: -moz-calc(100% - 35px);
 height: -webkit-calc(100% - 35px);
 height: calc(100% - 35px);
 padding-top: 7px;
 padding-bottom: 7px;
 display: block;
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
}

#messaged {
 width: -moz-calc(100% - 80px);
 width: -webkit-calc(100% - 80px);
 width: calc(100% - 80px);

}

#messages div:nth-child(even){
  background: #EFFFEC;
  padding-top: 7px;
  padding-bottom: 7px;
}

#messages div:nth-child(odd){
  background: #eee;
  padding-top: 7px;
  padding-bottom: 7px;
}

#ms {
 width: 74px;
 float: right;
}

header{
 background-color:#4192C1;
 text-align: center;
 margin-top: 5px;
}

header h1{
 padding: 5px;
 padding-right: 15px;
 color: #FFFFFF;
 margin: 0px;
}
